---
import Medusa from '@medusajs/medusa-js';

import Layout from '~/layouts/base.astro';

const meta = {
  title: 'Astro storefront for Medusa: Page not found',
  description: 'A storefront built with Astro for Medusa e-commerce'
};
---
<Layout meta={meta}>
  <div>
    <h2>There was a problem</h2>
  </div>
</Layout>
