---
import Medusa from '@medusajs/medusa-js';

import Layout from '~/layouts/base.astro';
import Product from '~/components/common/product.astro';

const API_URL = import.meta.env.MEDUSA_URL;

const client = new Medusa({ baseUrl: API_URL, maxRetries: 3 });
const res = await client.products.list();
const products = res.products;
const meta = {
  title: 'Astro storefront for Medusa',
  description: 'A storefront built with Astro for Medusa e-commerce'
};
---
<Layout meta={meta}>
  <div class="grid grid-cols-3 grid-rows-3">
    { products.map((product) => (<Product product={product} />)) }
  </div>
</Layout>
