---
import Medusa from '@medusajs/medusa-js'

import Layout from '~/layouts/base.astro';

interface Param {
  params: {
    handle: string
  }
}

export async function getStaticPaths() {
  const baseUrl = import.meta.env.MEDUSA_URL
  const client = new Medusa({ baseUrl, maxRetries: 3 })
  const res = await client.products.list()
  const products = res.products

  return products.reduce<Param[]>(
    (acc, product) => product.handle
      ? [
        ...acc,
        {
          params: {
            handle: product.handle
          },
          props: {
            product
          }
        }
      ]
      : acc,
    []
  );
}

const { product } = Astro.props;
const meta = {
  title: `Astro storefront for Medusa: ${product.title}`,
  description: product.description,
};
---
<Layout meta={meta}>
  <div>{ product.title }!
    <p>{product.description}</p>
    <img src={product.thumbnail} />
  </div>
</Layout>
